<nav class="navbar navbar-expand-lg bcolor">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0 d-flex align-items-center">
          <li class="nav-item">
            <img src="{{foto}}" alt="Imagem do user" width="50px" height="50px" class="img-fluid rounded-circle">
          </li>
          <li class="nav-item pl-3">
            <p class=" m-0 font-weight-bold fs-16 fcolor">Olá, {{nome}}</p>
          </li>

          <li class="nav-item pl-3">
            <a href="">
              <p class="m-0">
                <i class="fa fa-pencil-square-o fs-16" aria-hidden="true"></i>
              </p>
            </a>
          </li>
        </ul>
      
         
       
        <form class="d-flex ml-auto" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <ul class="navbar-nav ml-auto d-flex align-items-center">
          <li class="nav-item">
             <a (click)='sair()' class="bts text-dark" href="">
              <p class="fs-16  ">Sair 
                <i class="fa fa-sign-out" aria-hidden="true"></i>
              </p>
             </a>
           </li>
        </ul>
      </div>
    </div>
  </nav>

