
.bcolor
{
    background-color: peachpuff;
    color: palevioletred;
}
.btncolor{
    background-color: palevioletred;
    color: peachpuff;
}
.tamanho-foto{
    width: 300px;
    height: 300px;
}


